# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/
bower_components

# Build output
dist/
build/

# IDE files
.idea/
.DS_Store
Thumbs.db

# OS files
*.swp
*.swo

coverage/

spec/end_to_end_tests/reports/
src/stylesheets/_featuretoggles.scss
cypress/

.nyc_output

.private.notes

.talismanrc

.vscode/
